
  /* remove default browser stylings */
* {
  margin: 0;
  padding: 0;
}


body {
  
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #39a6b2;
  
}

header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  
}

header nav ul li a {
  display: inline;
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: #fce138;


}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #fce138;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

  footer h2 {
    color:  #fce138;;
  }
