/*Sets browser default margin and padding to 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* apply styles to body */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #39a6b2
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

/*applying inline elements to h1 header*/
header h1 {
  margin: 0;
  display: inline;
}

/*applying <header> <h1> <a>*/
header h1 a{
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  text-decoration: none;
}

/*removes underline and color of link*/
header a{
  text-decoration: none;
  color: #fce138;
}

/*moves nav bar inline to header*/
header nav {
  float: right;
  margin: 7px 0;
}

/*makes all listed items in unordered list inline with eachother*/
header nav ul li {
  display: inline;
}

/*Gives properties to a elements*/
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}


/*styling to footer*/
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76
}
/* footer style end */
section {
  padding: 60px;
}

/***********************/

/* hero style start */
.hero {

  padding: 60px;
  background-image: url("./assets/images/hero-bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  /* The bounds of THIS parent element are restricting the child elements relative to THIS parents own boundaries
      PLEASE REMEMBER! position: static will allow the child element to go OUTSIDE the parents bounds! */
  position: relative;
}

/* creating a new div class here for everything contained inside the "hero-form" */

.hero-form {
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  border-style: solid;
  border-width: 3px;
  border-color: #024e76;
  border: solid 3px #024e76;
  /* position this class element form within the bounds of its parent tag */
  position: absolute;
  /* any additional padding relating to the bounds of the parent tag */ 
  bottom: 120px;
  right: 140px;
  
  
}

.hero-form h3 {
  font-size: 24px;
  margin:0;
}
 /* styling the p nested inside the class hero-form */
.hero-form p{
  margin: 5px 0 15px 0;
}

/* creating a new class for the inputs in the form */
.form-input{
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

/* creating a new class for the labels in the form */
.form-label{
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}


/* hero style end */

/********************/

/* what we do styling, intro class*/

.intro {
  text-align: center;
}

/* intro what we do text - 1.4.6 removing this CSS rule!!

combined declarations with .section-title .primary-border and .secondary-border

.intro h2{
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  /* padding order: top right bottom left *
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #fce138;
  display: inline-block;
}

*/

/* intro what we do paragraph text */
.intro p{
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* adding additional classes to what we do intro section */

.section-title{ /* this is also representing what you do section */
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
}

.primary-border{
  border-color: #fce138;
}

/* end what we do styling */

/**************************/
  
/* begin what you do steps class section */
/* section-title declared above already! :) */

.steps{
  text-align: center;
  background: #fce138;
}

/* styling text inside steps heading h2 - 1.4.6 removing this CSS rule! 
.steps h2{
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  /* padding format - top right bottom left *
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #39a6b2;
}
*/

.secondary-border{
  border-color: #39a6b2;
}

.steps div{
  margin-bottom: 80px;
}

.steps img{
  width: 15%;
  margin: 10px 0;
}

.steps h3 {
  color: #024e76;
  font-size: 46px;
  margin-top: 10px;
}

.steps span{ /* inline element meant for highlighting sections of larger text blocks
                MUST define things otherwise it will keep the styling of its parent tag! */
  font-size: 38px;
}

.steps p{
  color: #39a6b2;
  font-size: 23px;
}

/* begin your trainers section */

/* section-title and primary-border is applied here too */



/* end your trainers section */

/*******************************/

/* begin reach out section */



/* end reach out section */

/*******************************/


  /* extra padding for the entire page
  when I was looking at examples I thought the white space was supposed to be there so I added it with this styling
  in retrospect I think it was an illusion given by the picture examples
  
  html {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
*/
