/*Sets browser default margin and padding to 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* apply styles to body */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #39a6b2
}

/* apply styles to <header> */
/* added flex property */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*applying inline elements to h1 header*/
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #fce138;
}

/*removes underline and color of link*/
header a{
  text-decoration: none;
  color: #fce138;
}

/*applying <header> <h1> <a>*/
header h1 a{
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  text-decoration: none;
}



/*moves nav bar inline to header*/
header nav {
  margin: 7px 0;
}
/* created flex property for nav list */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}


/*Gives properties to a elements*/
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}



/***********************/

/* hero style start */

section {
  padding: 60px;
  
}





.hero {
  padding: 60px;
  background-image: url('../images/flipped-hero-image.jpg'); 
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.start-building-habits{
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}
  
.start-building-habits h2 {
  color: #fce138;
  font-style: italic;
  font-size: 55px; 
}
  
/* creating a new div class here for everything contained inside the "hero-form" */

.hero-form {
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  border-style: solid;
  border-width: 3px;
  border-color: #024e76;
  border: solid 3px #024e76;
  width: 40%;
  margin: 3.5%;
  /* position this class element form within the bounds of its parent tag */
  
  /* any additional padding relating to the bounds of the parent tag */ 
  
}
  
  

.hero-form h3 {
  font-size: 24px;
  margin:0;
}
/* styling the p nested inside the class hero-form */
.hero-form p{
  margin: 5px 0 15px 0;
}

/* creating a new class for the inputs in the form */
.form-input{
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

/* creating a new class for the labels in the form */
.form-label{
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}


/* hero style end */

/********************/

/* what we do styling, intro class*/




/* intro what we do paragraph text */
.intro p{
  text-align: center;
}


/* adding additional classes to what we do intro section */
/* this is also representing what you do and Reach Out sections */
.section-title{ 
  font-size: 55px;
  color: #024e76;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
/* applying flex row to all things wrapped inside the class "section-title" */
.flex-row{
  display: flex;
  

}

.primary-border{
  border-color: #fce138;
}

/* end what we do styling */

/**************************/

/* begin what you do steps class section */
/* section-title declared above already! :) */
.steps{
  background: #fce138;
}

.step{
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.secondary-border{
  border-color: #39a6b2;
}


.step h3 {
  color: #024e76;
  font-size: 46px;
  flex: 1 30%;
  
}

.step-info{
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-image{
  flex: 1 12%;
  margin-right: 20px;
}

.step-image img{
  max-width: 100%;
}

.step-text{
  flex: 12;
}

.step-text h4{
  font-size: 26px;
  line-height: 1.5;
  color: #024e76;
}

.step-text p{
  color: #39a6b2;
  font-size: 18px;
}

/* begin your trainers section */

/** section-title and primary-border is applied here too **/

.trainers{
  text-align: center;
} 

.trainer {
  width: 900px;
  /* margin: TOP RIGHT BOTTOM LEFT */
  margin: 0 auto 30px auto;
  background: #024e76;
  overflow: auto;
  color: #fce138;
}

.trainer img {
  width: 35%;
  float: left;
}

.trainer-bio {
  padding: 35px;
  float: left;
  width: 65%
}

.trainer-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
}

.trainer-bio p {
  font-size: 17px;
  line-height: 1.3;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* end your trainers section */

/*******************************/

/* begin reach out section */

.contact {
  
  background: #024e76;
  color: #fce138;
}

.contact h2{
  color: #fce138;
}

.contact-info iframe {
  width: 400px;
  height: 400px;
  
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address{
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}
/* end reach out section */

/*******************************/

/*styling to footer*/
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76
}
/* footer style end */


